// базовые подключения
@use "vars";
@use "fonts";
@use "settings";

.logo{
    margin-bottom: 100px;
    animation: swing 5s infinite;
}

.content {
    position: relative;
    padding: 30px;
    max-width: 900px;
    border-radius: var(--bd-10);
    background: var(--dark-color);

    &:before, &:after{
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: linear-gradient(45deg, #fff, #8a8a8a,#FCC9B9, #fff, #8a8a8a,#FCC9B9);
        background-size: 500%;
        border-radius: var(--bd-10);
        z-index: -1;
        animation: glow 10s linear infinite;
    }
    &:after{
        filter: blur(22px)
    }
}

.list-row{
    max-width: 300px;
}

.list-col{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.svg-m{
    cursor: pointer;
}

.text{
    font-weight: var(--fw-200);
    font-size: var(--fz-18);
    color: var(--light-color);
}

.button{
    display: flex;
    width: auto;
    font-weight: var(--fw-300);
    font-size: var(--fz-16);
}

.input-con{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.input{
    max-width: 150px;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    outline: none;
}

.random-res{
    margin-top: 50px;
}

.flex-30{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex-50{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.flex-5-r{
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-20-r{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-spb{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 15px;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remove-icon {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    display: block;
    background: transparent;
  }
}



.list-item{
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

// .list-item:hover .remove-icon{
//     display: block;
// }



@keyframes swing {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}